.root {
    -fx-font-family: "Segoe UI";
    -fx-background-color: #f7f7f5;
}

.sidebar {
    -fx-padding: 24;
    -fx-background-color: #ffffff;
    -fx-spacing: 8;
    -fx-border-color: transparent #e8e8e3 transparent transparent;
}

.page-title {
    -fx-font-size: 28px;
    -fx-font-weight: bold;
}

.nav-item {
    -fx-padding: 10 12;
    -fx-font-size: 14px;
    -fx-text-fill: #555555;
    -fx-font-size: 14px;
}

.nav-item:hover {
    -fx-background-color: #f2f2ee;
}

.nav-item-selected {
    -fx-background-color: #ecece7;
    -fx-font-weight: bold;
}

.logo {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-padding: 0 0 20 4;
}

.content {
    -fx-padding: 32;
    -fx-spacing: 24;
    -fx-background-color: #f7f7f5;
}

.primary-button {
    -fx-padding: 10 18;
    -fx-background-radius: 8;
    -fx-cursor: hand;
}

.top-bar {
    -fx-alignment: center-left;
}

.summary-row {
    -fx-spacing: 16;
}

.summary-card {
    -fx-padding: 20;
    -fx-spacing: 8;
    -fx-background-color: white;
    -fx-background-radius: 12;
    -fx-border-color: #ecece7;
    -fx-border-radius: 12;
}

.summary-card-title {
    -fx-font-size: 13px;
}

.summary-card-value {
    -fx-font-size: 24px;
    -fx-font-weight: blod;
}

.home-content {
    -fx-spacing: 24;
}

.home-hero {
    -fx-spacing: 12;
    -fx-padding: 32;
    -fx-background-color: #ffffff;
    -fx-background-radius: 16;
    -fx-border-color: #ecece7;
    -fx-border-radius: 16;
}

.home-heading {
    -fx-font-size: 28px;
    -fx-font-weight: bold;
}

.home-subtitle {
    -fx-font-size: 14px;
    -fx-text-fill: #6f6f6a;
}

.home-scan-button {
    -fx-padding: 10 18;
    -fx-background-radius: 8;
    -fx-cursor: hand;
}

.section-title {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.recent-scan-card {
    -fx-spacing: 6;
    -fx-padding: 20;
    -fx-background-color: #ffffff;
    -fx-background-radius: 12;
    -fx-border-color: #ecece7;
    -fx-border-radius: 12;
}

.recent-scan-name {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

.recent-scan-details {
    -fx-font-size: 13px;
    -fx-text-fill: #6f6f6a;
}
